.view {
  height:800px;
  width:900px;
  border: 2px solid black;
  position: fixed;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width:100%;


}

.buttoncontainer {
  display: flex;
    justify-content: center;
    padding-top: 1%;
}

button {
  
  background: #ee726a;
  border: 2px solid #008cef;
  border-radius: 6px; 
    
      color: white;
      padding: 10px 30px;
      text-align: center;
      display: inline-block;
      font-size: 25px;
      margin: 3px 1px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
} 


 button:hover {
      background-color: #008cef;
      color: white;

 }